<a href="https://colab.research.google.com/github/heenakouser1/Gen-ai-batch-2024/blob/main/Assignment_2_Data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Discuss string slicing and provide examples

In [2]:
#String slicing is used to get the element from string. It can be used to get either one element or multiple elements
S = 'pwskills is a good place to learn'
S[0:8]

'pwskills'

In [3]:
S[::]

'pwskills is a good place to learn'

2. Explain the key features of lists in Python

Lists are data structure. It is ordered collection of heterogenous data.
Lists are mutable, data present in lists can be changed.
Lists are scriptable

3 Describe how to access, modify, and delete elements in a list with example:

In [4]:
#Access list :
List1 = [1,2,"pwskills",True,3+6j]
List1[0:3]

[1, 2, 'pwskills']

In [5]:
#Modify:
List1[0] = 2
List1

[2, 2, 'pwskills', True, (3+6j)]

In [6]:
#delete:
del List1[0]
List1

[2, 'pwskills', True, (3+6j)]

4 Compare and contrast tuples and lists with exampleS

In [7]:
#List1 -- List are ordered collection of hetergenous data denoted by []
#          List are mutable
#          Unhashable index

#Tuples --- Tuples are ordered collection of hetergenous data denoted by ()
#           Tuples are immuatable
#           Hashable index

In [9]:
#List1
List1 = [1,"skills",True,3+6j]
List1[0] = 2
List1

[2, 'skills', True, (3+6j)]

In [10]:
from typing import Tuple
#Tuple
Tuple1 = (1,"skills",True,3+6j)
Tuple1[0] = 2
Tuple1

TypeError: 'tuple' object does not support item assignment

5 Describe the key features of sets and provide examples of their us

In [11]:
# Sets are unordered collection of unique elements
# Sets are mutable , elements can be removed, added
# Sets are non scriptable
S = {1,2,3,3,4,"PWSKILLS",True,3+6j}
S

{(3+6j), 1, 2, 3, 4, 'PWSKILLS'}

In [12]:
S[0:3]

TypeError: 'set' object is not subscriptable

In [15]:
S.add(-1)
S

{(3+6j), '-1', -1, 1, 2, 3, 4, 'PWSKILLS'}

In [16]:
S.remove("-1")

In [17]:
S

{(3+6j), -1, 1, 2, 3, 4, 'PWSKILLS'}

6 Discuss the use cases of tuples and sets in Python programming

In [18]:
# Tuples are immutable. Tuples can be used aadhar cards, employee id
# As tuples cannot be changed once the aadhar number is changed


# Sets are unordered collection of unique elements
# sets are used to store the unique elements like employee id in companies

7 Describe how to add, modify, and delete items in a dictionary with examples

In [19]:
#dictionary are ordered collection of hetergenous data.
dict1 = {"name":"pwskills","course":"data science"}
dict1

{'name': 'pwskills', 'course': 'data science'}

In [21]:
dict1["duration"]=5
dict1

{'name': 'pwskills', 'course': 'data science', 'duration': 5}

In [22]:
dict1["course"]="data science masters"
dict1

{'name': 'pwskills', 'course': 'data science masters', 'duration': 5}

In [23]:
del dict1["duration"]
dict1

{'name': 'pwskills', 'course': 'data science masters'}

8 Discuss the importance of dictionary keys being immutable and provide examp

In [24]:
# Keys used in dictionary are unique.
# Keys are access element in dictionary
# Keys can be number,float. But not list, sets, dict

dict1 = {"name":"pwskills","course":"data science"}
dict1

{'name': 'pwskills', 'course': 'data science'}

In [25]:
dict1["name"]="pw"   # This duplicate key if present also it will override the old one
dict1

{'name': 'pw', 'course': 'data science'}

In [26]:
dict1.keys()

dict_keys(['name', 'course'])