<a href="https://colab.research.google.com/github/heenakouser1/Gen-ai-batch-2024/blob/main/Assignment_3_data_structures_advance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a code to reverse a string

In [2]:
s = "pwskills"
s[::-1]

'sllikswp'

In [3]:
for i in range((len(s)-1),-1,-1):
  print(s[i],end='')

sllikswp

2 Write a code to count the number of vowels in a string

In [4]:
s = 'pwskills data science'
count = 0
for i in s:
  if i in 'aeiou':

    count = count+1
print(count)

6

 3 Write a code to check if a given string is a palindrome or not

In [5]:
s = 'madam'
if s == s[::-1]:
  print('palindrome')
else:
  print('not palindrome')

palindrome

4 Write a code to check if two given strings are anagrams of each other

In [81]:
s1 = 'rasp'
s2 = 'spar'
for i in s1:
  if i in s2:
    print('anagrams')
    break
else:
  print('not anagrams')

anagrams

5 Write a code to find all occurrences of a given substring within another string

In [7]:
s1 = "pwskills pw"
s2 = "pw"
count = 0
if s2 in s1:
  count = count+1
print(count)

1

6. Write a code to perform basic string compression using the counts of repeated characters

In [62]:
s = 'Tbaaaaaaa'
compress = ""
count = 1
for i in range(1,len(s)):
  if s[i]==s[i-1]:
    count = count+1
  else:
    compress = compress + s[i-1] +str(count)
    count = 1
compress = compress + s[-1] +str(count)
print(s if len(compress) > len(s) else compress)

T1b1a7

7. Write a code to determine if a string has all unique characters

In [69]:
s = 'aabbcc'
for i in range(1,len(s)):
  if s[i] == s[i-1]:
    print('not unique')
    break
else:
  print('unique')

not unique

8. Write a code to convert a given string to uppercase or lowercas

In [70]:
s = 'pwskills'
s.upper()

'PWSKILLS'

In [71]:
s = 'PWSKILLS'
s.lower()

'pwskills'

9.Write a code to count the number of words in a string

In [72]:
s = 'pwskills data science'
count = 0
for i in s.split():
  count = count+1
print(count)

3

10.Write a code to concatenate two strings without using the + operator

In [80]:
s1 = 'pwskills'
s2 = 'data science'
s3 = ' '.join([s1,s2])
print(s3)

pwskills data science

11.Write a code to remove all occurrences of a specific element from a list

In [200]:
l = [1,2,3,3,4,5,6]
l1 = []
for i in l:
  if i ==3:
    continue
  else:
    l1.append(i)
print(l1)

[1, 2, 4, 5, 6]

12. Implement a code to find the second largest number in a given list of integers

In [201]:
l = [1,2,3,4,89,100,200]
l.sort()
l[-2]

100

13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [244]:
l = [1,2,3,3,3,4,5]
count = 0
dict1 = {}
for i in range(0,len(l)):
  if l[i] == l[i-1]:
    count = count+1
    dict1[l[i]]=count
  else:
    count = 1

print(dict1)

{3: 3}

14 Write a code to reverse a list in-place without using any built-in reverse function

In [112]:
l = [1,2,3,4,5]
l[::-1]

[5, 4, 3, 2, 1]

15.Implement a code to find and remove duplicates from a list while preserving the original order of
elements

In [242]:
l = [1,2,3,4,4,5,6]
l1=[]
l1=l.copy()
for i in range(0,(len(l1)-1)):

  if l1[i] == l1[i-1]:

    l1.remove(l1[i])
  else:
    continue
print(l1,'copied list')

print(l,'original list')

[1, 2, 3, 4, 5, 6] copied list
[1, 2, 3, 4, 4, 5, 6] original list

16.Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [205]:
l = [1,2,3,4,5,100,200,5,6,88]
l1 = l.copy()
l1.sort()
if l == l1:
  print('sorted')
else:
  print('not sorted')

not sorted

13.Write a code to merge two sorted lists into a single sorted lis

In [146]:
l1 = [1,2,44,5,7]
l2 = [1,1,1000,111]
l1.sort()
sorted(l2)
l3 = l1+l2
l3.sort()
print(l3)

[1, 1, 1, 2, 5, 7, 44, 111, 1000]

18. Implement a code to find the intersection of two given lists

In [206]:
l1 = [1,2,3,4,5]
l2 = [1,2,3,55]
l3 = []
for i in l1:
  if i in l2:
    l3.append(i)
  else:
    continue

print(l3)

[1, 2, 3]

19.Create a code to find the union of two lists without duplicate

In [240]:
list1 = [1,2,3,4,5]
list2 = [3]
list3 = list1 + list2
list4 = list3.copy()
for i in list4:
  if list4.count(i) > 1:
    list4.remove(i)
  else:
    continue
print('combined list',list3)
print('after duplicates removed',list4)

combined list [1, 2, 3, 4, 5, 3]
after duplicates removed [1, 2, 4, 5, 3]

20. write a code to shuffle a given list randomly without using any built-in shuffle functions

In [269]:

import random
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l3 = []
for i in range(len(l1)-1,0,-1):
  j = random.randint(0,i)
  l1[i],l1[j] = l1[j],l1[i]
  l3.append(l1[i])
print('shuffled list ',l3)

shuffled list  [1, 9, 4, 5, 7, 8, 6, 3]

21. Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [272]:
t1 = (1,2,3,4,5)
t2 = (1,2,4)
t3 = ()
for i in t1:
  if i in t2:
    t3 = t3 + (i,)
  else:
    continue
print(t3)

(1, 2, 4)

22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [278]:
s1 = input("enter the sets 1 separated by comma")
s2 = input("enter the sets 2 separated by comma")
s3 = set(s1.split(',')) & set(s2.split(','))

enter the sets 1 separated by comma1,2,3,4,5,6
enter the sets 2 separated by comma1,2,34,5,6
1,2,3,4,5,6
1,2,34,5,6

In [282]:
s3

{'1', '2', '5', '6'}

23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [284]:
tuple1 = (1,2,4,5)
tuple2 = (1,2,3,4)
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 4, 5, 1, 2, 3, 4)

24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set&

In [287]:
s1 = input("enter the sets 1 separated by comma")
s2 = input("enter the sets 2 separated by comma")

s3 = set(s1.split(',')) - set(s2.split(','))
print(s3)

enter the sets 1 separated by comma"pw","skills"
enter the sets 2 separated by comma"pw"
{'"skills"'}

25 Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [297]:
tuple1 = input("enter the first tuple")
I1 = int(input("enter the first index"))
I2 = int(input("enter the second index"))
if len(tuple1) >= I2:
  tuple2= tuple1[I1:I2]
  print(tuple2)
else:
  print('index out of range')

enter the first tuple1,2,3
enter the first index0
enter the second index1
1

26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [298]:
s1 = input("enter the set1 separated by comma")
s2 = input("enter the set2 separated by comma")
s3 = set(s1.split(',')) | set(s2.split(','))
print(s3)

enter the set1 separated by comma'a','b','b'
enter the set2 separated by comma'a','c'
{"'a'", "'b'", "'c'"}

27.Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpackin

In [305]:
tup1 = (1,2,3)
t1,t2,t3 = tup1
print('max',max(t1,t2,t3))
print('min',min(t1,t2,t3))

max 3
min 1

28 Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets&

In [306]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print('union',s1 | s2)
print('difference',s1 - s2)
print('intersection',s1 & s2)

union {1, 2, 3, 4, 5, 6, 7, 8}
difference {1, 2, 3}
intersection {4, 5}

29 Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple

In [319]:
t1 = input("enter the tuples elemnets")
print(tuple(t1.split(',')))

e1 = input("enter the element")
t1.count(e1)

enter the tuples elemnets1,2,3,4,4
('1', '2', '3', '4', '4')
enter the element4

2

30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [320]:
s1 = input("enter the set1 separated by comma")
s2 = input("enter the set2 separated by comma")
s3 = set(s1.split(',')) ^ set(s2.split(','))
print(s3)

enter the set1 separated by comma"pw","skills","data"
enter the set2 separated by comma"pw","science"
{'"science"', '"skills"', '"data"'}

31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list

In [321]:
l = ['pw','pw','skills','data','science']
dict1 = {}
for i in l:
  dict1[i]= l.count(i)
print(dict1)

{'pw': 2, 'skills': 1, 'data': 1, 'science': 1}

32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together

In [323]:
dict1 = {"name":"pwskills","duration":2}
dict2 = {"name":"data"}
for i in dict2:
  if i in dict1:
    dict1[i] = dict1[i] + dict2[i]
  else:
    dict1[i] = dict2[i]
print(dict1)

{'name': 'pwskillsdata', 'duration': 2}

33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None

In [357]:
dict1 = {"Institue":{"name":"pwskills"},
         "course details":{"name of course":"data science","eligibility":"all","duration":5}}
list1 = input("enter the keys separated by comma")
list2 = list1.split(',')
list2

enter the keys separated by commaname

['name']

In [363]:
for i in dict1.keys():
  if i in list2:
    print(dict1[i])
  else:
    print(None)

pwskills

34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending orde

In [395]:
dict1 = {"name":"pwskills","duration":2,'elig': 'all'}
print("before sorting",dict1)

sorted_items = sorted(dict1.items(), key=lambda item: (isinstance(item[1], int), item[1]))

dict2 = dict(sorted_items)

print("after sorting",dict2)

before sorting {'name': 'pwskills', 'duration': 2, 'elig': 'all'}
after sorting {'elig': 'all', 'name': 'pwskills', 'duration': 2}

35 Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary

In [399]:
input_dict = {"name":"pwskills","duration":2,'elig': 'all',"name":"dsz"}
inverted_dict = {}
for key, value in input_dict.items():
    if value in inverted_dict:

        inverted_dict[value].append(key) if type(inverted_dict[value]) == list else inverted_dict.update({value: [inverted_dict[value], key]})
    else:

        inverted_dict[value] = key

print(inverted_dict)

{'dsz': 'name', 2: 'duration', 'all': 'elig'}